* {
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}

h2 {
    text-align: center;
}

#root {
    display: flex;
    justify-content: center;
    align-content: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 600px;
}

.row {
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 200px;
}

.column {
    margin:0;
    padding:0;
    background-color: white;
    width: 33%;
    height: 200px;
    display:inline-block;
    border: 1px blue solid;
}
.tile {
    width: 200px;
    height: 200px;
    float:left;
    font-size: 3em;
}

.tile:focus {
  outline: none;
}
