body {
	font-family: 'Lexend Giga', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 100px;
}

div#playGame {
    display: flex;
    justify-content: center;
    padding: 50px;
}

table {
	border-spacing: 0px;
}

td {
	width: 100px;
	height: 100px;
	font-size: 90px;
	text-align: center;
	border: 2px solid black;
}

/* > is the child combinator, matches when the selectors select elements that are direct children. this selects only tds that are children of that specific tr. combined with nth-child, it matches only the specified child of that parent */

tr:nth-child(1) > td:nth-child(1){
  border-top: 0px;
  border-left: 0px;
}

tr:nth-child(1) > td:nth-child(2){
  border-top: 0px;
}

tr:nth-child(1) > td:nth-child(3){
  border-top: 0px;
  border-right: 0px;
}

tr:nth-child(2) > td:nth-child(1){
  border-left: 0px;
}

tr:nth-child(2) > td:nth-child(3){
  border-right: 0px;
}

tr:nth-child(3) > td:nth-child(1){
  border-bottom: 0px;
  border-left: 0px;
}

tr:nth-child(3) > td:nth-child(2){
  border-bottom: 0px;
}

tr:nth-child(3) > td:nth-child(3){
  border-bottom: 0px;
  border-right: 0px;
}