.glitch-text {
  text-shadow: -1px 1px 0 #0ff, 1px -1px 0 #f00;
  margin: 20px auto;
}
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
  position: relative;
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: #151823;
  flex-direction: column;
}

.backdrop:after {
  position: absolute;
  content: '';
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 5s ease infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
