html, body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
body{
  padding:20px;
}
.square {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: -2px;
  box-sizing: border-box;
  text-align: center;
  vertical-align:top;
}