html,
body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  padding: 20px;
}
p {
  color: red;
  display: inline-block;
  margin: 20px;
  font-size: larger;
  text-align: center;
  padding: 10px;
}

div {
  text-align: center;
}
