.grid-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-family: sans-serif;
  font-size: 4em;
  text-shadow: -1px 1px 0 #0ff, 1.5px -1.5px 0 #f00;
  box-shadow: 0 0 0 3px rgb(171, 84, 230);
}

.neo-pink {
  color: #f535aa;
}
